 @font-face {
   font-family: norse-bold;
   src: url(fonts/Norse-Bold.otf)
}

:root {
   --white-color: #FFFFFF;
   --green-color: #596D48;
   --bold-font: 700;
   --container-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

* {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}

.content {
   min-height: 100vh;
   display: grid;
   grid-template-columns: minmax(260px, 1fr) minmax(500px, 2fr);
}

.bg-left {
   background-image: url(media/roan-lavery-unsplash.jpg);
   background-size: 100% 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.bg-left .title img {
   width: 6rem;
   height: 8rem; 
}

.title {
   background: rgba(0, 0, 0, 0.4);
   margin-top: 11.5em;
   padding: 1em 0 1em 0;
}

.odin {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: norse-bold, sans-serif;
   font-size: 90px;
   color: var(--white-color);
}

.credit {
   text-align: center;
   margin-bottom: 1rem;
   color: var(--white-color);
}

.credit a {
   text-decoration: underline;
   color: var(--white-color)
}

.bg-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.description h2:first-child {
   padding-right: 40%;
   margin-bottom: 20px;
}

.description h2:last-child {
   margin-bottom: 80px;
}

.form-bg {
   background-color: var(--white-color);
   box-shadow: var(--container-shadow);
   gap: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   flex-flow: row wrap;
}

.form-bg h2 {
   width: 100%;
   padding-bottom: 1rem;
}

.form-bg > div {
   display: flex;
   flex-flow: column wrap;
   text-transform: uppercase;
   width: 30%;
   padding-right: 5vw;
   padding-bottom: 1rem;
   font-size: 12px;
   font-weight: var(--bold-font);
   color: rgba(0, 0, 0, 0.7);
   letter-spacing: 1px;
}

.form-bg > div > label {
   line-height: 20px;
}

.form-bg > div > input {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
   font-size: 16px;
   height: 32px;
   padding: 0 10px;
   border-radius: 5px;
   border: 1px solid #E5E7EB;
}

.form-bg > div > input:focus,
.form-bg > div > input:hover {
   box-shadow: var(--container-shadow);
}

.form-bg > div > input:focus,
.form-bg > div > input:hover {
   border: 1px solid blue;
}

.left {
   padding-left: 3vw;
}

.submit {
   margin: 30px 0;
}

.submit button {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background-color: var(--green-color);
   border: 2px solid var(--green-color);
   border-radius: 10px;
   padding: 15px 70px;
   font-size: 20px;
   font-weight: var(--bold-font);
   color: var(--white-color);
   box-shadow: var(--container-shadow);
}

.login > * {
   font-size: 20px;
   font-weight: var(--bold-font);
}

.login a {
   text-decoration: none;
   color: var(--green-color);
}